############################
# Environnement
############################
.env
backend/.env
.env.*
.env.local
.env.*.local

############################
# Node.js / Backend / Frontend
############################
node_modules/
dist/
build/
coverage/
.nyc_output/

############################
# Next.js
############################
.next/
out/

############################
# Logs
############################
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

############################
# Flutter / Dart
############################
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/.gradle/
android/local.properties
android/key.properties
*.jks

############################
# IDE / Editors
############################
.vscode/
.idea/
*.iml

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Docker
############################
*.pid
docker-data/
